<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改资产')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-assets-edit" th:object="${return}">
        <input name="returnId" type="hidden" th:field="*{returnId}"/>
        <input name="returnUserId" type="hidden" th:field="*{returnUserId}"/>
        <h4 class="form-header h4">基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归还单号：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input name="returnOrderNum" class="form-control" type="text" readonly="true"
                                   th:field="*{returnOrderNum}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归还人：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input class="form-control" type="text" readonly="true" th:field="*{user.userName}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归还单位：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input class="form-control" type="text" readonly="true" th:field="*{user.dept.parentName}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归还部门：</label>
                    <div class="col-sm-8">
                        <input placeholder="请输入归还部门" class="form-control" type="text" readonly="true" maxlength="30"
                               th:field="*{user.dept.deptName}" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归还时间：</label>
                    <div class="col-sm-8">
                        <input type="text" class="time-input" id="returnTime" placeholder="请选择归还日期" name="returnTime"
                               th:field="*{returnTime}" th:required/>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="form-header h4">其他信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">备注：</label>
                    <div class="col-xs-10">
                        <textarea name="remark" maxlength="500" class="form-control" rows="3">[[*{remark}]]</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存
        </button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
    var prefix = ctx + "assets/return";

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-assets-edit").serializeArray();
            var returnId = $("#returnId").val();
            var returnUserId = $("#returnUserId").val();
            data.push({"name": "returnId", "value": returnId});
            data.push({"name": "returnUserId", "value": returnUserId});
            $.operate.saveTab(prefix + "/edit", data);
        }
    }
</script>
</body>
</html>