<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                盘点单号：<input type="text" name="checkNumber"/>
                            </li>
                            <li>
                                盘点地址：<input type="text" name="checkAddr"/>
                            </li>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#checkTaskModal">
                    <i class="fa fa-plus"></i>新增
                </button>
                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()"
                   shiro:hasPermission="assets:checkTask:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                   shiro:hasPermission="assets:checkTask:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-primary" onclick="checkExamine()"
                   shiro:hasPermission="assets:checkTask:export">
                    <i class="fa fa-search"></i> 盘点审核
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>
<!-- 模态窗口预加载 -->
<div class="modal inmodal" id="checkTaskModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">添加盘点任务</h4>
            </div>
            <div class="modal-body">
                <form id="form-assets-add" class="form-horizontal">
                    <div class="row">
                        <label class="col-lg-3 control-label"><span
                                style="color: red; ">*</span>盘点地点：</label>
                        <div class="col-lg-9">
                            <input name="checkAddr" type="text" class="form-control" id="suggest-checkAddr">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-white dropdown-toggle"
                                        data-toggle="dropdown" style="display: none;">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: 25px"></div>

                    <div class="row">
                        <label class="col-lg-3 control-label"><span style="color: red; ">*</span>负责人：</label>
                        <div class="col-lg-9">
                            <div class="input-group">
                                <input name="checkUserId" type="text" placeholder="ry..." class="form-control"
                                       id="suggest-user">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-white dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitCheckTask()">保存</button>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-typeahead-js"/>
<script th:inline="javascript">

    var datas = [[${@dict.getType('is_check')}]];
    var checkStatusDatas = [[${@dict.getType('check_status')}]]
    var prefix = ctx + "assets/checkTask";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryUserList();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "盘点任务",
            columns: [{
                checkbox: true
            },
                {
                    field: 'taskId',
                    title: '盘点任务id',
                    sortable: true,
                    visible: false,
                    align: 'center'
                },
                {
                    field: 'checkNumber',
                    title: '盘点单号',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'checkAddr',
                    title: '盘点地点',
                    align: 'center'
                },
                {
                    field: 'user.userName',
                    title: '负责人姓名',
                    align: 'center'
                },
                {
                    field: 'user.cardNumber',
                    title: '负责人卡号',
                    align: 'center'
                },
                {
                    field: 'user.dept.parentName',
                    title: '所在学院',
                    align: 'center'
                },
                {
                    field: 'user.dept.deptName',
                    title: '所属专业',
                    align: 'center'
                },
                {
                    field: 'targetNum',
                    title: '应盘数量',
                    align: 'center'
                },
                {
                    field: 'checkStatus',
                    title: '盘点进度',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(checkStatusDatas, value);
                    }
                },
                {
                    field: 'isCheck',
                    title: '是否盘点',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'checkProfit',
                    title: '盘盈',
                    align: 'center'
                },
                {
                    field: 'checkLoss',
                    title: '盘亏',
                    align: 'center'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var editFlag = row.checkStatus === "0" ? '' : 'hidden';
                        var removeFlag = editFlag;
                        var detailsFlag = row.checkStatus === "0" ? 'hidden' : '';
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.taskId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.taskId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + detailsFlag + '" href="javascript:void(0)" onclick="clickToDetails(\'' + row.checkNumber + '\')"><i class="fa fa-search"></i>详情</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function checkExamine() {
        table.set();
        $.modal.openTab("盘点审核", prefix + "/adminExamine")
    }

    function clickToDetails(checkNumber) {

        $.modal.openTab(table.options.modalName + "详情", prefix + "/checkDetails/" + checkNumber);
    }

    $.get(prefix + "/collection", function (data) {
        $("#suggest-checkAddr").typeahead({
            source: data.value
        });
    }, 'json');
    var testBsSuggest = $("#suggest-user").bsSuggest({
        url: prefix + "/userModel",
        showBtn: false,
        idField: "userId",
        keyField: "loginName"
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });

    /* 提交 */
    function submitCheckTask(index, layero) {
        var data = {};
        if ($.validate.form()) {
            data = $("#form-assets-add").serializeArray();
        }
        var url = prefix + "/checkTaskConfirm";
        //ajax异步调用后台接口，完成新增资产领用
        $.operate.submit(url, "post", "json", data);
        //延时0.5秒关闭，等待submit的ajax异步方法回调后执行关闭模态框
        setTimeout(function () {
            $.modal.close();
        }, 500);
    }
</script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
                &nbsp; <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i
                    class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>