<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增资产')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
        <form id="form-assets-add" class="form-horizontal">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>资产名称：</label>
                        <div class="col-sm-8">
                            <input name="assetsName" placeholder="请输入资产名称" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>资产编号：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                            	<input name="assetsNumber" id="assetsNumber" type="text" placeholder="请输入资产编号" class="form-control" required>
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>资产单价：</label>
                        <div class="col-sm-8">
                            <input id="assetsPrice" name="assetsPrice" placeholder="请输入资产单价" class="form-control" type="text" maxlength="11" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>计量单位：</label>
                        <div class="col-sm-8">
                            <input id="measuringUnit" name="measuringUnit" class="form-control" type="text" maxlength="10" placeholder="请输入计量单位" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>保管单位：</label>
                        <div class="col-sm-8">
                            <input id="storageUnit" name="storageUnit" placeholder="请输入保管单位" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>保管部门：</label>
                        <div class="col-sm-8">
                            <input id="storageDepartment" name="storageDepartment" placeholder="请输入保管部门" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>存放地点：</label>
                        <div class="col-sm-8">
                            <input id="storageAddr" name="storageAddr" placeholder="请输入存放地点" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">品牌：</label>
                        <div class="col-sm-8">
                            <input id="assetsBrand" name="assetsBrand" placeholder="请输入品牌名" class="form-control" type="text" maxlength="11" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">保管人：</label>
                        <div class="col-sm-8">
                            <input id="custodian" name="custodian" placeholder="请填写保管人" class="form-control" type="text" maxlength="15" >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">资产类别：</label>
                        <div class="col-sm-8">
                            <select name="assetsType" class="form-control m-b" th:with="type=${@dict.getType('assets_type')}">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">资产来源：</label>
                        <div class="col-sm-8">
                            <select name="assetsSource" class="form-control m-b" th:with="type=${@dict.getType('assets_source')}">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">资产性质：</label>
                        <div class="col-sm-8">
                            <select name="assetsNature" class="form-control m-b" th:with="type=${@dict.getType('assets_nature')}">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">出厂日期：</label>
                        <div class="col-sm-8">
                            <input type="text" class="time-input" id="manufactureDate" placeholder="请选择出厂日期" name="manufactureDate"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">购入日期：</label>
                        <div class="col-sm-8">
                            <input type="text" class="time-input" id="purchaseDate" placeholder="请选择购入日期" name="purchaseDate"/>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<script th:inline="javascript">
	    var prefix = ctx + "assets/accounting";
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form-assets-add").serializeArray();
	        	$.operate.saveTab(prefix + "/add", data);
	        }
	    }


        //websocket 客户端（前端页面）与服务器（后台）建立连接（tcp连接）
        var socket;
        if (typeof (WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        } else {
            console.log("您的浏览器支持WebSocket");
            //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
            //webSocket = new WebSocket("ws://localhost:8080/websocket/20");
            var basePath = [[${basePath}]];
            var fid = [[${fid}]];
            webSocket = new WebSocket((basePath + "websocket/" + fid).replace("http", "ws"));
            //打开事件
            webSocket.onopen = function () {
                console.log("Socket 已打开");
                //socket.send("这是来自客户端的消息" + location.href + new Date());
            };
            //获得消息事件
            webSocket.onmessage = function (msg) {
                //localeCompare相等返回0，大于返回大于0，小于返回小于0
                if(!msg.data.localeCompare("连接成功")){
                    console.log(msg.data.localeCompare("成功"));
                    return ;
                }
                if(msg.data!=null){
                    console.log(msg.data);
                    <!-- 先清空输入框，再更新输入框-->
                    $("#assetsNumber").val("");
                    $("#assetsNumber").val(msg.data);
                }
                console.log("#######:"+assetsNumber);

            };
            //关闭事件
            webSocket.onclose = function () {
                console.log("Socket已关闭");
            };
            //发生了错误事件
            webSocket.onerror = function () {
                alert("Socket发生了错误");
                //此时可以尝试刷新页面
            }
            //离开页面时，关闭socket
            //jquery1.8中已经被废弃，3.0中已经移除
            // $(window).unload(function(){
            //     socket.close();
            //});
            // 往后台服务器发送消息.
            function sendMessage() {
                var sendmsg = document.getElementById("sendMsg").value;
                console.log("发送的消息：" + sendmsg);
                // 发送至后台服务器中.
                webSocket.send(sendmsg);
            }
        }
    </script>

</body>
</html>