<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.system.mapper.AssetsAccidentMapper">

    <resultMap type="com.ams.system.domain.AssetsAccident" id="AssetsAccidentResult">
        <id property="accidentId" column="accident_id"/>
        <result property="accidentOrderNum" column="accident_orderNum"/>
        <result property="assetsNumber" column="accident_assets_number"/>
        <result property="reportUserId" column="report_userId"/>
        <result property="accidentGrade" column="accident_grade"/>
        <result property="accidentDept" column="accident_dept"/>
        <result property="economicLosses" column="economic_losses"/>
        <result property="accidentTime" column="accident_time"/>
        <result property="summary" column="summary"/>
        <result property="remark" column="remark"/>
        <result property="status" column="examine_status"/>
        <result property="auditorId" column="auditorId"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="assets" column="accident_assets_number" javaType="com.ams.system.domain.Assets"
                     resultMap="AssetsResult"/>
        <association property="user" column="report_userId" javaType="com.ams.system.domain.SysUser"
                     resultMap="SysUserResult"/>
    </resultMap>

    <resultMap type="com.ams.system.domain.Assets" id="AssetsResult">
        <id property="assetsId" column="assets_id"/>
        <result property="assetsNumber" column="assets_number"/>
        <result property="assetsName" column="assets_name"/>
        <result property="assetsNature" column="assets_nature"/>
        <result property="assetsType" column="assets_type"/>
        <result property="assetsAmount" column="assets_amount"/>
        <result property="measuringUnit" column="measuring_unit"/>
        <result property="assetsPrice" column="assets_price"/>
        <result property="storageUnit" column="storage_unit"/>
        <result property="storageDepartment" column="storage_department"/>
        <result property="custodian" column="custodian"/>
        <result property="user" column="user"/>
        <result property="storageAddr" column="storage_addr"/>
        <result property="useStatus" column="use_status"/>
        <result property="assetsSource" column="assets_source"/>
        <result property="usefulLife" column="useful_life"/>
        <result property="residualRate" column="residual_rate"/>
        <result property="checkStatus" column="check_status"/>
        <result property="assetsFormat" column="assets_format"/>
        <result property="assetsModel" column="assets_model"/>
        <result property="assetsBrand" column="assets_brand"/>
        <result property="purchaseDate" column="purchase_date"/>
        <result property="manufactureDate" column="manufacture_date"/>
        <result property="warrantyDate" column="warranty_date"/>
        <result property="delFlag" column="assets_del_flag"/>
        <result property="mark" column="mark"/>
        <result property="createTime" column="assets_create_time"/>
        <result property="updateTime" column="assets_update_time"/>
    </resultMap>

    <resultMap type="com.ams.system.domain.SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="user_dept_id"/>
        <result property="loginName" column="login_name"/>
        <result property="userName" column="user_name"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="cardNumber" column="card_number"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="user_del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="user_create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="user_remark"/>
        <association property="dept" column="dept_id" javaType="com.ams.system.domain.SysDept" resultMap="deptResult"/>
    </resultMap>

    <resultMap id="deptResult" type="com.ams.system.domain.SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
        <result property="parentName" column="parent_name"/>
    </resultMap>

    <sql id="selectAssetsAccidentVo">
        select a.accident_id,
               a.assets_number as accident_assets_number,
               a.report_userId,
               a.accident_orderNum,
               a.summary,
               a.remark,
               a.auditor_id,
               a.status as examine_status,
               a.accident_dept,
               a.accident_time,
               a.accident_grade,
               a.economic_losses,
               a.create_time,
               a.update_time,

               b.assets_id,
               b.assets_number,
               b.assets_name,
               b.assets_nature,
               b.assets_type,
               b.assets_amount,
               b.measuring_unit,
               b.assets_price,
               b.storage_unit,
               b.storage_department,
               b.custodian,
               b.user,
               b.storage_addr,
               b.use_status,
               b.assets_source,
               b.useful_life,
               b.residual_rate,
               b.check_status,
               b.assets_format,
               b.assets_model,
               b.assets_brand,
               b.purchase_date,
               b.manufacture_date,
               b.warranty_date,
               b.del_flag as assets_del_flag,
               b.create_time as assets_create_time,
               b.update_time as assets_update_time,

               u.user_id,
               u.dept_id as user_dept_id,
               u.login_name,
               u.user_name,
               u.email,
               u.avatar,
               u.phonenumber,
               u.sex,
               u.card_number,
               u.password,
               u.salt,
               u.status,
               u.del_flag as user_del_flag,
               u.login_ip,
               u.login_date,
               u.create_time as user_create_time,
               u.remark as user_remark,

               d.dept_id,
               d.parent_id,
               d.dept_name,
               d.order_num,
               d.leader,
               d.status as dept_status,
               (select dept_name from sys_dept where dept_id = d.parent_id) parent_name
        from assets_accident a
            left join assets_accounting b on a.assets_number = b.assets_number
            left join sys_user u on a.report_userId =  u.user_id
            left join sys_dept d on d.dept_id = u.dept_id
    </sql>

    <select id="getAccidentListByUserId" parameterType="String" resultMap="AssetsAccidentResult">
        <include refid="selectAssetsAccidentVo"/>
        where a.report_userId = #{userId}
    </select>

    <select id="getAccidentById" parameterType="String" resultMap="AssetsAccidentResult">
        <include refid="selectAssetsAccidentVo"/>
        where a.accident_id = #{accidentId}
    </select>

    <select id="getAccidentListAll" parameterType="com.ams.system.domain.AssetsAccident" resultMap="AssetsAccidentResult">
        <include refid="selectAssetsAccidentVo"/>
        where a.status = 0
        <if test="accidentOrderNum != null and accidentOrderNum != ''">
            AND a.accident_orderNum like concat('%', #{accidentOrderNum}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(a.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(a.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <insert id="insertAccidentList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="accident_id">
        <foreach collection="list" item="item" separator=";">
            insert into assets_accident(
            <if test="item.assetsNumber != null and item.assetsNumber != ''">assets_number,</if>
            <if test="item.accidentOrderNum != null and item.accidentOrderNum != ''">accident_orderNum,</if>
            <if test="item.reportUserId != null">report_userId,</if>
            <if test="item.accidentGrade != null and item.accidentGrade != ''">accident_grade,</if>
            <if test="item.accidentDept != null and item.accidentDept != ''">accident_dept,</if>
            <if test="item.accidentTime != null">accident_time,</if>
            <if test="item.economicLosses != null and item.economicLosses != ''">economic_losses,</if>
            <if test="item.summary != null and item.summary != ''">summary,</if>
            <if test="item.remark != null and item.remark!= ''">remark,</if>
            <if test="item.createBy != null and item.createBy != ''">create_by,</if>
            create_time
            )values(
            <if test="item.assetsNumber != null and item.assetsNumber != ''">#{item.assetsNumber},</if>
            <if test="item.accidentOrderNum != null and item.accidentOrderNum != ''">#{item.accidentOrderNum},</if>
            <if test="item.reportUserId != null">#{item.reportUserId},</if>
            <if test="item.accidentGrade != null and item.accidentGrade != ''">#{item.accidentGrade},</if>
            <if test="item.accidentDept != null and item.accidentDept != ''">#{item.accidentDept},</if>
            <if test="item.accidentTime != null">#{item.accidentTime},</if>
            <if test="item.economicLosses != null and item.economicLosses != ''">#{item.economicLosses},</if>
            <if test="item.summary != null and item.summary != ''">#{item.summary},</if>
            <if test="item.remark != null and item.remark!= ''">#{item.remark},</if>
            <if test="item.createBy != null and item.createBy != ''">#{item.createBy},</if>
            sysdate()
            )
        </foreach>
    </insert>

    <update id="updateAccidentInfo" parameterType="com.ams.system.domain.AssetsAccident">
        update assets_accident
        <set>
            <if test="assetsNumber != null and assetsNumber != ''">assets_number=#{assetsNumber},</if>
            <if test="reportUserId != null">report_userId=#{reportUserId},</if>
            <if test="accidentGrade != null and accidentGrade != ''">accident_grade=#{accidentGrade},</if>
            <if test="accidentDept != null and accidentDept != ''">accident_dept=#{accidentDept},</if>
            <if test="economicLosses != null and economicLosses != ''">economic_losses=#{economicLosses},</if>
            <if test="summary != null and summary != ''">summary=#{summary},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="auditorId != null and auditorId != 0">auditor_id=#{auditorId},</if>
            <if test="status != null and status != ''">status=#{status},</if>
            <if test="accidentTime != null and accidentTime != ''">accident_time=#{accidentTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
            update_time = sysdate()
        </set>
        where accident_id = #{accidentId}
    </update>

    <update id="updateAccidentByOrderNum" parameterType="com.ams.system.domain.AssetsAccident">
        update assets_accident
        <set>
            <if test="assetsNumber != null and assetsNumber != ''">assets_number=#{assetsNumber},</if>
            <if test="reportUserId != null">report_userId=#{reportUserId},</if>
            <if test="accidentGrade != null and accidentGrade != ''">accident_grade=#{accidentGrade},</if>
            <if test="accidentDept != null and accidentDept != ''">accident_dept=#{accidentDept},</if>
            <if test="economicLosses != null and economicLosses != ''">economic_losses=#{economicLosses},</if>
            <if test="summary != null and summary != ''">summary=#{summary},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="auditorId != null and auditorId != 0">auditor_id=#{auditorId},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="accidentTime != null and accidentTime != ''">accident_time=#{accidentTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
            update_time = sysdate()
        </set>
        where accident_orderNum = #{accidentOrderNum}
    </update>

    <delete id="deleteByAccidentId" parameterType="String">
        delete from assets_accident where accident_id = #{accidentId}
    </delete>


    <select id="getAccidentListByOrderNum" parameterType="String" resultMap="AssetsAccidentResult">
        <include refid="selectAssetsAccidentVo"/>
        where a.accident_orderNum = #{orderNum}
    </select>
    <select id="getMyExamineList" resultMap="AssetsAccidentResult">
        <include refid="selectAssetsAccidentVo"/>
        where a.auditor_id = 1 and a.status > 0
    </select>

    <delete id="deleteAccidentByOrderNum" parameterType="String">
        delete from assets_accident where accident_orderNum = #{orderNum}
    </delete>

</mapper> 