<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.system.mapper.AssetsRepairMapper">

    <resultMap type="com.ams.system.domain.AssetsRepair" id="AssetsRepairResult">
        <id property="repairId" column="repair_id"/>
        <result property="repairOrderNum" column="repair_orderNum"/>
        <result property="assetsNumber" column="repair_assets_number"/>
        <result property="repairUserId" column="repair_userId"/>
        <result property="repairGrade" column="repair_grade"/>
        <result property="sentTime" column="sent_time"/>
        <result property="repairTime" column="repair_time"/>
        <result property="repairStatus" column="repair_status"/>
        <result property="repairFees" column="repair_fees"/>
        <result property="status" column="examine_status"/>
        <result property="auditorId" column="auditor_id"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="assets" column="repair_assets_number" javaType="com.ams.system.domain.Assets"
                     resultMap="AssetsResult"/>
        <association property="user" column="repair_userId" javaType="com.ams.system.domain.SysUser"
                     resultMap="SysUserResult"/>
    </resultMap>

    <resultMap type="com.ams.system.domain.Assets" id="AssetsResult">
        <id property="assetsId" column="assets_id"/>
        <result property="assetsNumber" column="assets_number"/>
        <result property="assetsName" column="assets_name"/>
        <result property="assetsNature" column="assets_nature"/>
        <result property="assetsType" column="assets_type"/>
        <result property="assetsAmount" column="assets_amount"/>
        <result property="measuringUnit" column="measuring_unit"/>
        <result property="assetsPrice" column="assets_price"/>
        <result property="storageUnit" column="storage_unit"/>
        <result property="storageDepartment" column="storage_department"/>
        <result property="custodian" column="custodian"/>
        <result property="user" column="user"/>
        <result property="storageAddr" column="storage_addr"/>
        <result property="useStatus" column="use_status"/>
        <result property="assetsSource" column="assets_source"/>
        <result property="usefulLife" column="useful_life"/>
        <result property="residualRate" column="residual_rate"/>
        <result property="checkStatus" column="check_status"/>
        <result property="assetsFormat" column="assets_format"/>
        <result property="assetsModel" column="assets_model"/>
        <result property="assetsBrand" column="assets_brand"/>
        <result property="purchaseDate" column="purchase_date"/>
        <result property="manufactureDate" column="manufacture_date"/>
        <result property="warrantyDate" column="warranty_date"/>
        <result property="delFlag" column="assets_del_flag"/>
        <result property="mark" column="mark"/>
        <result property="createTime" column="assets_create_time"/>
        <result property="updateTime" column="assets_update_time"/>
    </resultMap>

    <resultMap type="com.ams.system.domain.SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="user_dept_id"/>
        <result property="loginName" column="login_name"/>
        <result property="userName" column="user_name"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="cardNumber" column="card_number"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="user_del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="user_create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="user_remark"/>
        <association property="dept" column="dept_id" javaType="com.ams.system.domain.SysDept" resultMap="deptResult"/>
    </resultMap>

    <resultMap id="deptResult" type="com.ams.system.domain.SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
        <result property="parentName" column="parent_name"/>
    </resultMap>

    <resultMap id="weiXiuMap" type="com.ams.system.domain.WeiXiu">
        <id property="repairDate" column="repair_date"/>
        <result property="totalMoney" column="total"/>
        <result property="repairCount" column="repair_count"/>
    </resultMap>

    <sql id="selectAssetsRepairVo">
        select a.repair_id,
        a.repair_orderNum,
               a.assets_number as repair_assets_number,
               a.repair_userId,
               a.status as examine_status,
               a.auditor_id,
               a.remark,
               a.repair_status,
               a.sent_time,
               a.repair_time,
               a.repair_grade,
               a.repair_fees,
               a.create_time,
               a.update_time,

               b.assets_id,
               b.assets_number,
               b.assets_name,
               b.assets_nature,
               b.assets_type,
               b.assets_amount,
               b.measuring_unit,
               b.assets_price,
               b.storage_unit,
               b.storage_department,
               b.custodian,
               b.user,
               b.storage_addr,
               b.use_status,
               b.assets_source,
               b.useful_life,
               b.residual_rate,
               b.check_status,
               b.assets_format,
               b.assets_model,
               b.assets_brand,
               b.purchase_date,
               b.manufacture_date,
               b.warranty_date,
               b.del_flag as assets_del_flag,
               b.create_time as assets_create_time,
               b.update_time as assets_update_time,

               u.user_id,
               u.dept_id as user_dept_id,
               u.login_name,
               u.user_name,
               u.email,
               u.avatar,
               u.phonenumber,
               u.sex,
               u.card_number,
               u.password,
               u.salt,
               u.status,
               u.del_flag as user_del_flag,
               u.login_ip,
               u.login_date,
               u.create_time as user_create_time,
               u.remark as user_remark,

               d.dept_id,
               d.parent_id,
               d.dept_name,
               d.order_num,
               d.leader,
               d.status as dept_status,
               (select dept_name from sys_dept where dept_id = d.parent_id) parent_name
        from assets_repair a
            left join assets_accounting b on a.assets_number = b.assets_number
            left join sys_user u on a.repair_userId =  u.user_id
            left join sys_dept d on d.dept_id = u.dept_id
    </sql>

    <select id="getRepairListByUserId" parameterType="String" resultMap="AssetsRepairResult">
        <include refid="selectAssetsRepairVo"/>
        where a.repair_userId = #{userId}
    </select>

    <select id="getRepairById" parameterType="String" resultMap="AssetsRepairResult">
        <include refid="selectAssetsRepairVo"/>
        where a.repair_id = #{repairId}
    </select>

    <select id="getRepairListAll" resultMap="AssetsRepairResult">
        <include refid="selectAssetsRepairVo"/>
        where a.status = 0
    </select>

    <insert id="insertRepairList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="repair_id">
        <foreach collection="list" item="item" separator=";">
            insert into assets_repair(
            <if test="item.repairOrderNum != null and item.repairOrderNum !=  ''">repair_orderNum,</if>
            <if test="item.assetsNumber != null and item.assetsNumber != ''">assets_number,</if>
            <if test="item.repairUserId != null">repair_userId,</if>
            <if test="item.repairGrade != null and item.repairGrade != ''">repair_grade,</if>
            <if test="item.repairFees != null and item.repairFees != ''">repair_fees,</if>
            <if test="item.sentTime != null and item.sentTime != ''">sent_time,</if>
            <if test="item.repairTime != null">repair_time,</if>
            <if test="item.repairStatus != null">repair_status,</if>
            <if test="item.remark != null and item.remark!= ''">remark,</if>
            <if test="item.createBy != null and item.createBy != ''">create_by,</if>
            create_time
            )values(
            <if test="item.repairOrderNum != null and item.repairOrderNum !=  ''">#{item.repairOrderNum},</if>
            <if test="item.assetsNumber != null and item.assetsNumber != ''">#{item.assetsNumber},</if>
            <if test="item.repairUserId != null">#{item.repairUserId},</if>
            <if test="item.repairGrade != null and item.repairGrade != ''">#{item.repairGrade},</if>
            <if test="item.repairFees != null and item.repairFees != ''">#{item.repairFees},</if>
            <if test="item.sentTime != null and item.sentTime != ''">#{item.sentTime},</if>
            <if test="item.repairTime != null">#{item.repairTime},</if>
            <if test="item.repairStatus != null">#{item.repairStatus},</if>
            <if test="item.remark != null and item.remark!= ''">#{item.remark},</if>
            <if test="item.createBy != null and item.createBy != ''">#{item.createBy},</if>
            sysdate()
            )
        </foreach>
    </insert>

    <update id="updateRepairInfo" parameterType="com.ams.system.domain.AssetsRepair">
        update assets_repair
        <set>
            <if test="assetsNumber != null and assetsNumber != ''">assets_number=#{assetsNumber},</if>
            <if test="repairUserId != null">repair_userId=#{repairUserId},</if>
            <if test="repairGrade != null and repairGrade != ''">repair_grade=#{repairGrade},</if>
            <if test="repairFees != null and repairFees != ''">repair_fees=#{repairFees},</if>
            <if test="status != null and status != ''">status=#{status},</if>
            <if test="auditorId != null and auditorId != 0">auditor_id=#{auditorId},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="sentTime != null and sentTime != ''">sent_time=#{sentTime},</if>
            <if test="repairTime != null and repairTime != ''">repair_time=#{repairTime},</if>
            <if test="repairStatus != null">repair_status=#{repairStatus},</if>
            <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
            update_time = sysdate()
        </set>
        where repair_id = #{repairId}
    </update>

    <update id="updateRepairByOrderNum" parameterType="com.ams.system.domain.AssetsRepair">
        update assets_repair
        <set>
            <if test="assetsNumber != null and assetsNumber != ''">assets_number=#{assetsNumber},</if>
            <if test="repairUserId != null">repair_userId=#{repairUserId},</if>
            <if test="repairGrade != null and repairGrade != ''">repair_grade=#{repairGrade},</if>
            <if test="repairFees != null and repairFees != ''">repair_fees=#{repairFees},</if>
            <if test="status != null and status != ''">status=#{status},</if>
            <if test="auditorId != null and auditorId != 0">auditor_id=#{auditorId},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="sentTime != null and sentTime != ''">sent_time=#{sentTime},</if>
            <if test="repairTime != null and repairTime != ''">repair_time=#{repairTime},</if>
            <if test="repairStatus != null">repair_status=#{repairStatus},</if>
            <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
            update_time = sysdate()
        </set>
        where repair_orderNum = #{repairOrderNum}
    </update>

    <delete id="deleteByRepairId" parameterType="String">
        delete from assets_repair where repair_id = #{repairId}
    </delete>

    <select id="getRepairListByOrderNum" parameterType="String" resultMap="AssetsRepairResult">
        <include refid="selectAssetsRepairVo"/>
        where a.repair_orderNum = #{orderNum}
    </select>
    <select id="getMyExamineList" resultMap="AssetsRepairResult">
        <include refid="selectAssetsRepairVo"/>
        where a.auditor_id = 1 and a.status > 0
    </select>
    <delete id="deleteRepairByOrderNum" parameterType="String">
        delete from assets_repair where repair_orderNum = #{orderNum}
    </delete>

    <select id="getCountAndFeesGroupByDate" resultMap="weiXiuMap">
        SELECT DATE_FORMAT(repair_time,'%Y-%m-%d') as repair_date, sum(repair_fees) as total, count(repair_id) AS repair_count FROM assets_repair
        GROUP BY repair_date
    </select>
</mapper> 