<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                资产编号：<input type="text" name="assetsNumber"/>
                            </li>
                            <li>
                                存放地点：<input type="text" name="storageAddr"/>
                            </li>
                            <li>
                                资产状态：<select name="useStatus" th:with="type=${@dict.getType('assets_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictLabel}"></option>
                            </select>
                            </li>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.myTab()">
                    <i class="fa fa-user-md"></i> 我的保养
                </a>
                <a class="btn btn-success" onclick="clickToMaintain()">
                    <i class="fa fa-user-md"></i> 资产识别保养
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('assets:maintain:edit')}]];
    var removeFlag = [[${@permission.hasPermi('assets:maintain:remove')}]];

    var prefix = ctx + "assets/maintain";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryUserList();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            myUrl: prefix + "/myMaintain",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "资产保养",
            columns: [{
                checkbox: true
            },
                {
                    field: 'assetsNumber',
                    title: '资产编号',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'assetsName',
                    title: '资产名称',
                    align: 'center'
                },
                {
                    field: 'assetsType',
                    title: '资产类别',
                    align: 'center'
                },
                {
                    field: 'assetsAmount',
                    title: '数量',
                    align: 'center'
                },
                {
                    field: 'measuringUnit',
                    title: '计量单位',
                    align: 'center'
                },
                {
                    field: 'assetsPrice',
                    title: '单价',
                    align: 'center'
                },
                {
                    field: 'storageDepartment',
                    title: '保管部门',
                    align: 'center'
                },
                {
                    field: 'storageAddr',
                    title: '存放地点',
                    align: 'center'
                },
                {
                    field: 'useStatus',
                    title: '资产状态',
                    align: 'center'
                },
                {
                    field: 'assetsSource',
                    title: '资产来源',
                    align: 'center'
                },
                {
                    field: 'usefulLife',
                    title: '使用年限',
                    align: 'center'
                },
                {
                    field: 'assetsModel',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'assetsBrand',
                    title: '品牌',
                    align: 'center'
                },
                {
                    field: 'purchaseDate',
                    title: '购入日期',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    visible: false,
                    align: 'center'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="maintain(\'' + row.assetsNumber + '\')"><i class="fa fa-edit"></i>保养</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function maintain(assetsNumber) {
        $.modal.open("保养信息", prefix + "/maintain/"+assetsNumber);

    }

    function clickToMaintain(){
        $.modal.open("资产保养", prefix + "/maintainModal/2");
    }
</script>
</body>
</html>