<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <input type="hidden" id="deptId" name="deptId">
                    <input type="hidden" id="parentId" name="parentId">
                    <div class="select-list">
                        <ul>
                            <li>
                                资产编号：<input type="text" name="assetsNumber"/>
                            </li>
                            <li>
                                存放地点：<input type="text" name="storageAddr"/>
                            </li>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    var allocateFlag = [[${@permission.hasPermi('assets:accounting:allocate')}]];
    var prefix = ctx + "assets/allocate";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryUserList();
     });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            allocateUrl:prefix+"/allocate/{id}",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "领用",
            columns: [{
                checkbox: true
            },
                {
                    field: 'assetsNumber',
                    title: '资产编号',
                    sortable: true
                },
                {
                    field: 'assetsName',
                    title: '资产名称',

                },
                {
                    field: 'assetsType',
                    title: '资产类别'
                },
                {
                    field: 'assetsAmount',
                    title: '数量'
                },
                {
                    field: 'measuringUnit',
                    title: '计量单位'
                },
				{
					field: 'assetsPrice',
					title: '单价'
				},
				{
					field: 'storageDepartment',
					title: '保管部门'
				},
				{
					field: 'user',
					title: '使用人'
				},
				{
					field: 'storageAddr',
					title: '存放地点'
				},
				{
					field: 'useStatus',
					title: '使用情况'
				},
				{
					field: 'assetsSource',
					title: '资产来源'
				},
				{
					field: 'usefulLife',
					title: '使用年限'
				},
				{
					field: 'assetsModel',
					title: '型号'
				},
				{
					field: 'assetsBrand',
					title: '品牌'
				},
                {
                    field: 'purchaseDate',
                    title: '购入日期',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + allocateFlag + '" href="javascript:void(0)" onclick="$.operate.allocate(\'' + row.assetsNumber + '\')"><i class="fa fa-edit"></i>领用</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }


</script>
</body>
</html>