<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <input type="hidden" id="deptId" name="deptId">
                    <input type="hidden" id="parentId" name="parentId">
                    <div class="select-list">
                        <ul>
                            <li>
                                资产编号：<input type="text" name="assetsNumber"/>
                            </li>
                            <li>
                                存放地点：<input type="text" name="storageAddr"/>
                            </li>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.myAllocateExamineTab()">
                    <i class="fa fa-user-md"></i> 我的审批
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    var allocateFlag = [[${@permission.hasPermi('assets:accounting:allocate')}]];
    var prefix = ctx + "assets/allocate";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryUserList();
     });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            approveUrl:prefix+"/allocateExamineOK/{assetsNumber}/{userId}",
            rejectUrl:prefix+"/allocateExamineReject/{assetsNumber}/{userId}",
            myAllocateExamineUrl:prefix+"/myAllocateExamine",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "资产审批",
            columns: [{
                checkbox: true
            },
                {
                    field: 'assetsNumber',
                    title: '资产编号',
                    sortable: true
                },
                {
                    field: 'assets.assetsName',
                    title: '资产名称',

                },
                {
                    field: 'assets.assetsType',
                    title: '资产类别'
                },
				{
					field: 'assets.assetsPrice',
					title: '单价'
				},
				{
					field: 'assets.useStatus',
					title: '使用情况'
				},
				{
					field: 'assets.usefulLife',
					title: '使用年限'
				},
				{
					field: 'assets.assetsModel',
					title: '型号'
				},
				{
					field: 'assets.assetsBrand',
					title: '品牌'
				},
                {
                    field: 'user.userName',
                    title: '申请人'
                },
                {
                    field: 'user.userId',
                    title: '申请人Id',
                    visible:false
                },
                {
                    field: 'createTime',
                    title: '申请时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<div class="input-group-btn"><button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="javascript:void(0)" onclick="$.operate.allocateExamineOK(\'' + row.assetsNumber + '\',\'' + row.user.userId + '\')"><i class="fa fa-check"></i>同意</a></li><li class="divider"></li><li><a href="javascript:void(0)" onclick="$.operate.allocateExamineReject(\'' + row.assetsNumber + '\',\'' + row.user.userId + '\')"><i class="fa fa-close"></i>驳回</a></li></ul></div> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }


</script>
</body>
</html>