<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <input type="hidden" id="deptId" name="deptId">
                    <input type="hidden" id="parentId" name="parentId">
                    <div class="select-list">
                        <ul>
                            <li>
                                资产编号：<input type="text" name="assetsNumber"/>
                            </li>
                            <li>
                                存放地点：<input type="text" name="storageAddr"/>
                            </li>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-sm btn-danger" onclick="closeItem()">
                    <i class="fa fa-reply-all"></i> 关闭
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    var prefix = ctx + "assets/allocate";
    var examineStatus = [[${@dict.getType('examine_status')}]];

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryUserList();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/myAllocateExamineList",
            detailView: true,
            onExpandRow: function (index, row, $detail) {
                initChildTable(index, row, $detail);
            },
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "我的资产审批记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'allocateOrderNum',
                    title: '领用单号',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'user.userName',
                    title: '申请人',
                    align: 'center'
                },
                {
                    field: 'user.dept.parentName',
                    title: '所在学院',
                    align: 'center'
                },
                {
                    field: 'user.dept.deptName',
                    title: '所属专业',
                    align: 'center'
                },
                {
                    field: 'user.userId',
                    title: '申请人Id',
                    visible: false
                },
                {
                    field: 'createTime',
                    title: '申请领用时间',
                    align: 'center'
                },
                {
                    field: 'status',
                    title: '审批结果',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(examineStatus, value);
                    }
                }]
        };
        $.table.init(options);
    }

    initChildTable = function (index, row, $detail) {
        var cur_table = $detail.html('<table style="table-layout:fixed"></table>').find('table');
        $(cur_table).bootstrapTable({
            url: prefix + "/childTableList",
            method: 'post',
            sidePagination: "server",
            contentType: "application/x-www-form-urlencoded",   // 编码类型
            queryParams: {
                orderNum: row.allocateOrderNum
            },
            columns: [{
                field: 'assets.assetsNumber',
                title: '资产编号',
                align: 'center',
            },
                {
                    field: 'assets.assetsName',
                    title: '资产名称',
                    align: 'center',
                },
                {
                    field: 'assets.assetsModel',
                    title: '资产规格',
                    align: 'center',
                },
                {
                    field: 'assets.assetsBrand',
                    title: '品牌',
                    align: 'center',
                },
                {
                    field: 'assets.purchaseDate',
                    title: '购入日期',
                    align: 'center',
                },
                {
                    field: 'assets.custodian',
                    title: '保管人',
                    align: 'center',
                },
                {
                    field: 'assets.assetsPrice',
                    title: '资产价值',
                    align: 'center',
                },
                {
                    field: 'assets.storageAddr',
                    title: '存放地点',
                    align: 'center',
                },
                {
                    field: 'assets.assetsSource',
                    title: '资产来源',
                    align: 'center',
                },
                {
                    field: 'assets.assetsType',
                    title: '资产类别',
                    align: 'center',
                },
                {
                    field: 'assets.assetsNature',
                    title: '资产性质',
                    align: 'center',
                },
                {
                    field: 'updateTime',
                    title: '盘点时间',
                    align: 'center',
                }]
        });
    };


</script>
</body>
</html>